.newTask {
  display: flex;
  justify-content: center;
  margin: -1.6875rem 22rem;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;

    input {
      flex: 1;
      height: 3.375rem;
      padding: 1rem;
      color: var(--gray-100);

      background-color: var(--gray-500);
      border: 1px solid var(--gray-700);
      border-radius: 8px;
    }

    input:focus {
      outline: transparent;
      box-shadow: 0 0 0 2px var(--purple-dark);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      line-height: 0;

      gap: 0.5rem;
      font-weight: 700;
      font-size: 0.875rem;
      width: 5.625rem;
      border-radius: 8px;

      background: var(--blue-dark);
      color: var(--gray-100);

      svg {
        color: var(--gray-100);
      }
    }
  }
}
