.tasks {
  margin: 5.6874rem 22rem;

  header {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    font-weight: 700;

    span {
      color: var(--blue);
    }

    span + span {
      color: var(--purple);
    }

    p {
      display: inline;
      padding: 0.125rem 0.725rem;
      margin-left: 0.5rem;
      border-radius: 999px;
      background: var(--gray-400);
      color: var(--gray-200);
    }
  }

  main {
    min-height: 15.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    color: var(--gray-300);

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 1rem;
    }

    h1,
    span {
      font-size: 1rem;
      line-height: 22.4px;
    }
  }
}

.newTask {
  display: flex;
  justify-content: center;
  margin: -1.6875rem 22rem;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;

    input {
      flex: 1;
      height: 3.375rem;
      max-width: 100%;
      padding: 1rem;
      color: var(--gray-100);

      background-color: var(--gray-500);
      border: 1px solid var(--gray-700);
      border-radius: 8px;
    }

    input:focus {
      outline: transparent;
      box-shadow: 0 0 0 2px var(--purple-dark);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      line-height: 0;

      gap: 0.5rem;
      font-weight: 700;
      font-size: 0.875rem;
      width: 5.625rem;
      border-radius: 8px;

      background: var(--blue-dark);
      color: var(--gray-100);

      transition: background 0.1s;

      svg {
        color: var(--gray-100);
      }
    }

    button:hover {
      background: var(--blue);
    }
  }
}
